[submodule "wooting-analog-sdk-sys/vendor"]
	path = wooting-analog-sdk-sys/vendor
	url = https://github.com/davidtwco/wooting-analog-sdk.git
	branch = wooting.rs-patches

[submodule "wooting-rgb-sdk-sys/vendor"]
	path = wooting-rgb-sdk-sys/vendor
	url = https://github.com/davidtwco/wooting-rgb-sdk.git
	branch = wooting.rs-patches
